-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: spotstay
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `spotstay`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `spotstay` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `spotstay`;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb3_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `attempts` tinyint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb3_unicode_ci,
  `payload` longtext COLLATE utf8mb3_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_alquiler`
--

DROP TABLE IF EXISTS `tbl_alquiler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_alquiler` (
  `id_alquiler` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_propiedad_fk` bigint unsigned NOT NULL,
  `id_inquilino_fk` bigint unsigned NOT NULL,
  `id_admin_aprueba_fk` bigint unsigned DEFAULT NULL,
  `fecha_inicio_alquiler` date NOT NULL,
  `fecha_fin_alquiler` date DEFAULT NULL,
  `estado_alquiler` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'pendiente',
  `aprobado_alquiler` timestamp NULL DEFAULT NULL,
  `creado_alquiler` timestamp NULL DEFAULT NULL,
  `actualizado_alquiler` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_alquiler`),
  KEY `tbl_alquiler_id_propiedad_fk_index` (`id_propiedad_fk`),
  KEY `tbl_alquiler_id_inquilino_fk_index` (`id_inquilino_fk`),
  KEY `tbl_alquiler_estado_alquiler_index` (`estado_alquiler`),
  KEY `tbl_alquiler_id_admin_aprueba_fk_foreign` (`id_admin_aprueba_fk`),
  CONSTRAINT `tbl_alquiler_id_admin_aprueba_fk_foreign` FOREIGN KEY (`id_admin_aprueba_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE SET NULL,
  CONSTRAINT `tbl_alquiler_id_inquilino_fk_foreign` FOREIGN KEY (`id_inquilino_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT,
  CONSTRAINT `tbl_alquiler_id_propiedad_fk_foreign` FOREIGN KEY (`id_propiedad_fk`) REFERENCES `tbl_propiedad` (`id_propiedad`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_alquiler`
--

LOCK TABLES `tbl_alquiler` WRITE;
/*!40000 ALTER TABLE `tbl_alquiler` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_alquiler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_chatbot_mensaje`
--

DROP TABLE IF EXISTS `tbl_chatbot_mensaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_chatbot_mensaje` (
  `id_mensaje_chatbot` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_sesion_chatbot_fk` bigint unsigned NOT NULL,
  `rol_mensaje_chatbot` varchar(10) COLLATE utf8mb3_unicode_ci NOT NULL,
  `cuerpo_mensaje_chatbot` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `creado_mensaje_chatbot` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_mensaje_chatbot`),
  KEY `tbl_chatbot_mensaje_id_sesion_chatbot_fk_index` (`id_sesion_chatbot_fk`),
  CONSTRAINT `tbl_chatbot_mensaje_id_sesion_chatbot_fk_foreign` FOREIGN KEY (`id_sesion_chatbot_fk`) REFERENCES `tbl_chatbot_sesion` (`id_sesion_chatbot`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=136 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_chatbot_mensaje`
--

LOCK TABLES `tbl_chatbot_mensaje` WRITE;
/*!40000 ALTER TABLE `tbl_chatbot_mensaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_chatbot_mensaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_chatbot_sesion`
--

DROP TABLE IF EXISTS `tbl_chatbot_sesion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_chatbot_sesion` (
  `id_sesion_chatbot` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `creado_sesion_chatbot` timestamp NULL DEFAULT NULL,
  `actualizado_sesion_chatbot` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_sesion_chatbot`),
  KEY `tbl_chatbot_sesion_id_usuario_fk_creado_sesion_chatbot_index` (`id_usuario_fk`,`creado_sesion_chatbot`),
  CONSTRAINT `tbl_chatbot_sesion_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_chatbot_sesion`
--

LOCK TABLES `tbl_chatbot_sesion` WRITE;
/*!40000 ALTER TABLE `tbl_chatbot_sesion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_chatbot_sesion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_contrato`
--

DROP TABLE IF EXISTS `tbl_contrato`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_contrato` (
  `id_contrato` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_alquiler_fk` bigint unsigned NOT NULL,
  `url_pdf_contrato` varchar(500) COLLATE utf8mb3_unicode_ci NOT NULL,
  `hash_contrato` varchar(64) COLLATE utf8mb3_unicode_ci NOT NULL,
  `firmado_arrendador` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_firma_arrendador` timestamp NULL DEFAULT NULL,
  `ip_firma_arrendador` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `firmado_inquilino` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_firma_inquilino` timestamp NULL DEFAULT NULL,
  `ip_firma_inquilino` varchar(45) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `estado_contrato` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'pendiente',
  `creado_contrato` timestamp NULL DEFAULT NULL,
  `actualizado_contrato` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_contrato`),
  UNIQUE KEY `tbl_contrato_id_alquiler_fk_unique` (`id_alquiler_fk`),
  KEY `tbl_contrato_estado_contrato_index` (`estado_contrato`),
  CONSTRAINT `tbl_contrato_id_alquiler_fk_foreign` FOREIGN KEY (`id_alquiler_fk`) REFERENCES `tbl_alquiler` (`id_alquiler`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_contrato`
--

LOCK TABLES `tbl_contrato` WRITE;
/*!40000 ALTER TABLE `tbl_contrato` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_contrato` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_conversacion`
--

DROP TABLE IF EXISTS `tbl_conversacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_conversacion` (
  `id_conversacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_propiedad_fk` bigint unsigned DEFAULT NULL,
  `tipo_conversacion` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'directa',
  `creado_conversacion` timestamp NULL DEFAULT NULL,
  `actualizado_conversacion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_conversacion`),
  KEY `tbl_conversacion_id_propiedad_fk_foreign` (`id_propiedad_fk`),
  CONSTRAINT `tbl_conversacion_id_propiedad_fk_foreign` FOREIGN KEY (`id_propiedad_fk`) REFERENCES `tbl_propiedad` (`id_propiedad`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_conversacion`
--

LOCK TABLES `tbl_conversacion` WRITE;
/*!40000 ALTER TABLE `tbl_conversacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_conversacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_conversacion_usuario`
--

DROP TABLE IF EXISTS `tbl_conversacion_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_conversacion_usuario` (
  `id_conversacion_usuario` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_conversacion_fk` bigint unsigned NOT NULL,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `ultima_lectura_conv_usuario` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_conversacion_usuario`),
  UNIQUE KEY `tbl_conversacion_usuario_id_conversacion_fk_id_usuario_fk_unique` (`id_conversacion_fk`,`id_usuario_fk`),
  KEY `tbl_conversacion_usuario_id_usuario_fk_foreign` (`id_usuario_fk`),
  CONSTRAINT `tbl_conversacion_usuario_id_conversacion_fk_foreign` FOREIGN KEY (`id_conversacion_fk`) REFERENCES `tbl_conversacion` (`id_conversacion`) ON DELETE CASCADE,
  CONSTRAINT `tbl_conversacion_usuario_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_conversacion_usuario`
--

LOCK TABLES `tbl_conversacion_usuario` WRITE;
/*!40000 ALTER TABLE `tbl_conversacion_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_conversacion_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_documento`
--

DROP TABLE IF EXISTS `tbl_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_documento` (
  `id_documento` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `tipo_documento` varchar(50) COLLATE utf8mb3_unicode_ci NOT NULL,
  `tipo_entidad_documento` varchar(50) COLLATE utf8mb3_unicode_ci NOT NULL,
  `id_entidad_documento` bigint unsigned NOT NULL,
  `nombre_documento` varchar(200) COLLATE utf8mb3_unicode_ci NOT NULL,
  `url_documento` varchar(500) COLLATE utf8mb3_unicode_ci NOT NULL,
  `hash_documento` varchar(64) COLLATE utf8mb3_unicode_ci NOT NULL,
  `pdfmonkey_id_documento` varchar(100) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `creado_documento` timestamp NULL DEFAULT NULL,
  `actualizado_documento` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_documento`),
  KEY `tbl_documento_id_usuario_fk_index` (`id_usuario_fk`),
  KEY `tbl_documento_tipo_entidad_documento_id_entidad_documento_index` (`tipo_entidad_documento`,`id_entidad_documento`),
  KEY `tbl_documento_id_entidad_documento_index` (`id_entidad_documento`),
  CONSTRAINT `tbl_documento_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_documento`
--

LOCK TABLES `tbl_documento` WRITE;
/*!40000 ALTER TABLE `tbl_documento` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_gasto`
--

DROP TABLE IF EXISTS `tbl_gasto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_gasto` (
  `id_gasto` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_propiedad_fk` bigint unsigned NOT NULL,
  `id_gestor_fk` bigint unsigned NOT NULL,
  `concepto_gasto` varchar(200) COLLATE utf8mb3_unicode_ci NOT NULL,
  `categoria_gasto` varchar(50) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `importe_gasto` decimal(10,2) NOT NULL,
  `pagador_gasto` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'gestor',
  `periodicidad_gasto` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'mensual',
  `dia_vencimiento` tinyint unsigned NOT NULL DEFAULT '5',
  `fecha_inicio_gasto` date NOT NULL,
  `fecha_fin_gasto` date DEFAULT NULL,
  `estado_gasto` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'activo',
  `creado_gasto` timestamp NULL DEFAULT NULL,
  `actualizado_gasto` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_gasto`),
  KEY `tbl_gasto_id_propiedad_fk_index` (`id_propiedad_fk`),
  KEY `tbl_gasto_id_gestor_fk_index` (`id_gestor_fk`),
  KEY `tbl_gasto_estado_gasto_index` (`estado_gasto`),
  CONSTRAINT `tbl_gasto_id_gestor_fk_foreign` FOREIGN KEY (`id_gestor_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT,
  CONSTRAINT `tbl_gasto_id_propiedad_fk_foreign` FOREIGN KEY (`id_propiedad_fk`) REFERENCES `tbl_propiedad` (`id_propiedad`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_gasto`
--

LOCK TABLES `tbl_gasto` WRITE;
/*!40000 ALTER TABLE `tbl_gasto` DISABLE KEYS */;
INSERT INTO `tbl_gasto` VALUES (1,15,16,'Luz','base_propiedad',58.00,'inquilinos','mensual',5,'2026-04-01',NULL,'activo','2026-04-20 14:16:39','2026-04-20 14:16:39'),(2,15,16,'Agua','base_propiedad',32.00,'inquilinos','mensual',5,'2026-04-01',NULL,'activo','2026-04-20 14:16:39','2026-04-20 14:16:39'),(3,15,16,'Comunidad','base_propiedad',48.00,'inquilinos','mensual',5,'2026-04-01',NULL,'activo','2026-04-20 14:16:39','2026-04-20 14:16:39');
/*!40000 ALTER TABLE `tbl_gasto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_gasto_cuota`
--

DROP TABLE IF EXISTS `tbl_gasto_cuota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_gasto_cuota` (
  `id_gasto_cuota` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_gasto_fk` bigint unsigned NOT NULL,
  `mes_cuota` date NOT NULL,
  `vencimiento_cuota` date NOT NULL,
  `importe_total_cuota` decimal(10,2) NOT NULL,
  `estado_cuota` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'pendiente',
  `pagado_cuota` timestamp NULL DEFAULT NULL,
  `creado_cuota` timestamp NULL DEFAULT NULL,
  `actualizado_cuota` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_gasto_cuota`),
  UNIQUE KEY `uq_gasto_mes` (`id_gasto_fk`,`mes_cuota`),
  KEY `tbl_gasto_cuota_id_gasto_fk_index` (`id_gasto_fk`),
  KEY `tbl_gasto_cuota_mes_cuota_index` (`mes_cuota`),
  KEY `tbl_gasto_cuota_estado_cuota_index` (`estado_cuota`),
  CONSTRAINT `tbl_gasto_cuota_id_gasto_fk_foreign` FOREIGN KEY (`id_gasto_fk`) REFERENCES `tbl_gasto` (`id_gasto`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_gasto_cuota`
--

LOCK TABLES `tbl_gasto_cuota` WRITE;
/*!40000 ALTER TABLE `tbl_gasto_cuota` DISABLE KEYS */;
INSERT INTO `tbl_gasto_cuota` VALUES (1,1,'2026-04-01','2026-04-05',58.00,'pendiente',NULL,'2026-04-20 14:16:39','2026-04-20 14:16:39'),(2,2,'2026-04-01','2026-04-05',32.00,'pendiente',NULL,'2026-04-20 14:16:39','2026-04-20 14:16:39'),(3,3,'2026-04-01','2026-04-05',48.00,'pendiente',NULL,'2026-04-20 14:16:39','2026-04-20 14:16:39');
/*!40000 ALTER TABLE `tbl_gasto_cuota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_gasto_cuota_detalle`
--

DROP TABLE IF EXISTS `tbl_gasto_cuota_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_gasto_cuota_detalle` (
  `id_gasto_cuota_detalle` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_gasto_cuota_fk` bigint unsigned NOT NULL,
  `id_pagador_fk` bigint unsigned NOT NULL,
  `importe_detalle` decimal(10,2) NOT NULL,
  `estado_detalle` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'pendiente',
  `pagado_detalle` timestamp NULL DEFAULT NULL,
  `creado_detalle` timestamp NULL DEFAULT NULL,
  `actualizado_detalle` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_gasto_cuota_detalle`),
  UNIQUE KEY `uq_cuota_pagador` (`id_gasto_cuota_fk`,`id_pagador_fk`),
  KEY `tbl_gasto_cuota_detalle_id_gasto_cuota_fk_index` (`id_gasto_cuota_fk`),
  KEY `tbl_gasto_cuota_detalle_id_pagador_fk_index` (`id_pagador_fk`),
  KEY `tbl_gasto_cuota_detalle_estado_detalle_index` (`estado_detalle`),
  CONSTRAINT `tbl_gasto_cuota_detalle_id_gasto_cuota_fk_foreign` FOREIGN KEY (`id_gasto_cuota_fk`) REFERENCES `tbl_gasto_cuota` (`id_gasto_cuota`) ON DELETE CASCADE,
  CONSTRAINT `tbl_gasto_cuota_detalle_id_pagador_fk_foreign` FOREIGN KEY (`id_pagador_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_gasto_cuota_detalle`
--

LOCK TABLES `tbl_gasto_cuota_detalle` WRITE;
/*!40000 ALTER TABLE `tbl_gasto_cuota_detalle` DISABLE KEYS */;
INSERT INTO `tbl_gasto_cuota_detalle` VALUES (1,1,14,58.00,'pendiente',NULL,'2026-04-20 14:16:39','2026-04-20 14:16:39'),(2,2,14,32.00,'pendiente',NULL,'2026-04-20 14:16:39','2026-04-20 14:16:39'),(3,3,14,48.00,'pendiente',NULL,'2026-04-20 14:16:39','2026-04-20 14:16:39');
/*!40000 ALTER TABLE `tbl_gasto_cuota_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_historial_incidencia`
--

DROP TABLE IF EXISTS `tbl_historial_incidencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_historial_incidencia` (
  `id_historial_incidencia` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_incidencia_fk` bigint unsigned NOT NULL,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `comentario_historial` text COLLATE utf8mb3_unicode_ci,
  `cambio_estado_historial` varchar(30) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `creado_historial` timestamp NULL DEFAULT NULL,
  `actualizado_historial` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_historial_incidencia`),
  KEY `tbl_historial_incidencia_id_incidencia_fk_foreign` (`id_incidencia_fk`),
  KEY `tbl_historial_incidencia_id_usuario_fk_foreign` (`id_usuario_fk`),
  CONSTRAINT `tbl_historial_incidencia_id_incidencia_fk_foreign` FOREIGN KEY (`id_incidencia_fk`) REFERENCES `tbl_incidencia` (`id_incidencia`) ON DELETE CASCADE,
  CONSTRAINT `tbl_historial_incidencia_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_historial_incidencia`
--

LOCK TABLES `tbl_historial_incidencia` WRITE;
/*!40000 ALTER TABLE `tbl_historial_incidencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_historial_incidencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_incidencia`
--

DROP TABLE IF EXISTS `tbl_incidencia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_incidencia` (
  `id_incidencia` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_propiedad_fk` bigint unsigned NOT NULL,
  `id_reporta_fk` bigint unsigned NOT NULL,
  `id_asignado_fk` bigint unsigned DEFAULT NULL,
  `titulo_incidencia` varchar(200) COLLATE utf8mb3_unicode_ci NOT NULL,
  `descripcion_incidencia` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `categoria_incidencia` varchar(50) COLLATE utf8mb3_unicode_ci NOT NULL,
  `prioridad_incidencia` varchar(20) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'media',
  `estado_incidencia` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'abierta',
  `esperando_de_incidencia` varchar(30) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `creado_incidencia` timestamp NULL DEFAULT NULL,
  `actualizado_incidencia` timestamp NULL DEFAULT NULL,
  `resuelto_incidencia` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_incidencia`),
  KEY `tbl_incidencia_id_propiedad_fk_index` (`id_propiedad_fk`),
  KEY `tbl_incidencia_estado_incidencia_index` (`estado_incidencia`),
  KEY `tbl_incidencia_id_reporta_fk_foreign` (`id_reporta_fk`),
  KEY `tbl_incidencia_id_asignado_fk_foreign` (`id_asignado_fk`),
  KEY `tbl_incidencia_esperando_de_incidencia_index` (`esperando_de_incidencia`),
  KEY `tbl_incidencia_resuelto_incidencia_index` (`resuelto_incidencia`),
  CONSTRAINT `tbl_incidencia_id_asignado_fk_foreign` FOREIGN KEY (`id_asignado_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE SET NULL,
  CONSTRAINT `tbl_incidencia_id_propiedad_fk_foreign` FOREIGN KEY (`id_propiedad_fk`) REFERENCES `tbl_propiedad` (`id_propiedad`) ON DELETE RESTRICT,
  CONSTRAINT `tbl_incidencia_id_reporta_fk_foreign` FOREIGN KEY (`id_reporta_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_incidencia`
--

LOCK TABLES `tbl_incidencia` WRITE;
/*!40000 ALTER TABLE `tbl_incidencia` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_incidencia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_mensaje`
--

DROP TABLE IF EXISTS `tbl_mensaje`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_mensaje` (
  `id_mensaje` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_conversacion_fk` bigint unsigned NOT NULL,
  `id_remitente_fk` bigint unsigned NOT NULL,
  `cuerpo_mensaje` text COLLATE utf8mb3_unicode_ci NOT NULL,
  `leido_mensaje` tinyint(1) NOT NULL DEFAULT '0',
  `creado_mensaje` timestamp NULL DEFAULT NULL,
  `actualizado_mensaje` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_mensaje`),
  KEY `tbl_mensaje_id_conversacion_fk_index` (`id_conversacion_fk`),
  KEY `tbl_mensaje_id_remitente_fk_foreign` (`id_remitente_fk`),
  CONSTRAINT `tbl_mensaje_id_conversacion_fk_foreign` FOREIGN KEY (`id_conversacion_fk`) REFERENCES `tbl_conversacion` (`id_conversacion`) ON DELETE CASCADE,
  CONSTRAINT `tbl_mensaje_id_remitente_fk_foreign` FOREIGN KEY (`id_remitente_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_mensaje`
--

LOCK TABLES `tbl_mensaje` WRITE;
/*!40000 ALTER TABLE `tbl_mensaje` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_mensaje` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_notificacion`
--

DROP TABLE IF EXISTS `tbl_notificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_notificacion` (
  `id_notificacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `tipo_notificacion` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  `datos_notificacion` json NOT NULL,
  `leida_notificacion` tinyint(1) NOT NULL DEFAULT '0',
  `leida_en_notificacion` timestamp NULL DEFAULT NULL,
  `creado_notificacion` timestamp NULL DEFAULT NULL,
  `actualizado_notificacion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_notificacion`),
  KEY `tbl_notificacion_id_usuario_fk_leida_notificacion_index` (`id_usuario_fk`,`leida_notificacion`),
  CONSTRAINT `tbl_notificacion_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_notificacion`
--

LOCK TABLES `tbl_notificacion` WRITE;
/*!40000 ALTER TABLE `tbl_notificacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_notificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_pago`
--

DROP TABLE IF EXISTS `tbl_pago`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_pago` (
  `id_pago` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_alquiler_fk` bigint unsigned NOT NULL,
  `id_pagador_fk` bigint unsigned NOT NULL,
  `tipo_pago` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL,
  `concepto_pago` varchar(200) COLLATE utf8mb3_unicode_ci NOT NULL,
  `importe_pago` decimal(8,2) NOT NULL,
  `mes_pago` date DEFAULT NULL,
  `estado_pago` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'pendiente',
  `referencia_pago` varchar(100) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `fecha_confirmacion_pago` timestamp NULL DEFAULT NULL,
  `creado_pago` timestamp NULL DEFAULT NULL,
  `actualizado_pago` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_pago`),
  KEY `tbl_pago_id_alquiler_fk_index` (`id_alquiler_fk`),
  KEY `tbl_pago_id_pagador_fk_index` (`id_pagador_fk`),
  KEY `tbl_pago_estado_pago_index` (`estado_pago`),
  KEY `tbl_pago_mes_pago_index` (`mes_pago`),
  KEY `tbl_pago_referencia_pago_index` (`referencia_pago`),
  CONSTRAINT `tbl_pago_id_alquiler_fk_foreign` FOREIGN KEY (`id_alquiler_fk`) REFERENCES `tbl_alquiler` (`id_alquiler`) ON DELETE RESTRICT,
  CONSTRAINT `tbl_pago_id_pagador_fk_foreign` FOREIGN KEY (`id_pagador_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_pago`
--

LOCK TABLES `tbl_pago` WRITE;
/*!40000 ALTER TABLE `tbl_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_propiedad`
--

DROP TABLE IF EXISTS `tbl_propiedad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_propiedad` (
  `id_propiedad` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_arrendador_fk` bigint unsigned NOT NULL,
  `id_gestor_fk` bigint unsigned DEFAULT NULL,
  `titulo_propiedad` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `calle_propiedad` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `numero_propiedad` varchar(20) COLLATE utf8mb3_unicode_ci NOT NULL,
  `piso_propiedad` varchar(20) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `puerta_propiedad` varchar(20) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `ciudad_propiedad` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  `codigo_postal_propiedad` varchar(10) COLLATE utf8mb3_unicode_ci NOT NULL,
  `latitud_propiedad` decimal(10,7) DEFAULT NULL,
  `longitud_propiedad` decimal(10,7) DEFAULT NULL,
  `descripcion_propiedad` text COLLATE utf8mb3_unicode_ci,
  `precio_propiedad` decimal(8,2) NOT NULL,
  `gastos_propiedad` json DEFAULT NULL,
  `estado_propiedad` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'borrador',
  `creado_propiedad` timestamp NULL DEFAULT NULL,
  `actualizado_propiedad` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_propiedad`),
  KEY `tbl_propiedad_id_arrendador_fk_index` (`id_arrendador_fk`),
  KEY `tbl_propiedad_estado_propiedad_index` (`estado_propiedad`),
  KEY `tbl_propiedad_id_gestor_fk_foreign` (`id_gestor_fk`),
  CONSTRAINT `tbl_propiedad_id_arrendador_fk_foreign` FOREIGN KEY (`id_arrendador_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT,
  CONSTRAINT `tbl_propiedad_id_gestor_fk_foreign` FOREIGN KEY (`id_gestor_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_propiedad`
--

LOCK TABLES `tbl_propiedad` WRITE;
/*!40000 ALTER TABLE `tbl_propiedad` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_propiedad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_rol`
--

DROP TABLE IF EXISTS `tbl_rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_rol` (
  `id_rol` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre_rol` varchar(50) COLLATE utf8mb3_unicode_ci NOT NULL,
  `slug_rol` varchar(50) COLLATE utf8mb3_unicode_ci NOT NULL,
  `creado_rol` timestamp NULL DEFAULT NULL,
  `actualizado_rol` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `tbl_rol_slug_rol_unique` (`slug_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_rol`
--

LOCK TABLES `tbl_rol` WRITE;
/*!40000 ALTER TABLE `tbl_rol` DISABLE KEYS */;
INSERT INTO `tbl_rol` VALUES (1,'Administrador','admin',NULL,NULL),(2,'Arrendador','arrendador',NULL,NULL),(3,'Inquilino','inquilino',NULL,NULL),(4,'Gestor','gestor',NULL,NULL);
/*!40000 ALTER TABLE `tbl_rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_rol_usuario`
--

DROP TABLE IF EXISTS `tbl_rol_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_rol_usuario` (
  `id_rol_usuario` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `id_rol_fk` bigint unsigned NOT NULL,
  `asignado_rol_usuario` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_rol_usuario`),
  UNIQUE KEY `tbl_rol_usuario_id_usuario_fk_id_rol_fk_unique` (`id_usuario_fk`,`id_rol_fk`),
  KEY `tbl_rol_usuario_id_rol_fk_foreign` (`id_rol_fk`),
  CONSTRAINT `tbl_rol_usuario_id_rol_fk_foreign` FOREIGN KEY (`id_rol_fk`) REFERENCES `tbl_rol` (`id_rol`) ON DELETE CASCADE,
  CONSTRAINT `tbl_rol_usuario_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_rol_usuario`
--

LOCK TABLES `tbl_rol_usuario` WRITE;
/*!40000 ALTER TABLE `tbl_rol_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_rol_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_solicitud_arrendador`
--

DROP TABLE IF EXISTS `tbl_solicitud_arrendador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_solicitud_arrendador` (
  `id_solicitud_arrendador` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `id_admin_revisa_fk` bigint unsigned DEFAULT NULL,
  `datos_solicitud_arrendador` json NOT NULL,
  `estado_solicitud_arrendador` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'pendiente',
  `notas_solicitud_arrendador` text COLLATE utf8mb3_unicode_ci,
  `creado_solicitud_arrendador` timestamp NULL DEFAULT NULL,
  `actualizado_solicitud_arrendador` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_solicitud_arrendador`),
  KEY `tbl_solicitud_arrendador_id_usuario_fk_foreign` (`id_usuario_fk`),
  KEY `tbl_solicitud_arrendador_id_admin_revisa_fk_foreign` (`id_admin_revisa_fk`),
  CONSTRAINT `tbl_solicitud_arrendador_id_admin_revisa_fk_foreign` FOREIGN KEY (`id_admin_revisa_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE SET NULL,
  CONSTRAINT `tbl_solicitud_arrendador_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_solicitud_arrendador`
--

LOCK TABLES `tbl_solicitud_arrendador` WRITE;
/*!40000 ALTER TABLE `tbl_solicitud_arrendador` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_solicitud_arrendador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_suscripcion`
--

DROP TABLE IF EXISTS `tbl_suscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_suscripcion` (
  `id_suscripcion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_usuario_fk` bigint unsigned NOT NULL,
  `plan_suscripcion` varchar(30) COLLATE utf8mb3_unicode_ci NOT NULL,
  `max_propiedades_suscripcion` tinyint unsigned NOT NULL DEFAULT '1',
  `inicio_suscripcion` date NOT NULL,
  `fin_suscripcion` date DEFAULT NULL,
  `estado_suscripcion` varchar(20) COLLATE utf8mb3_unicode_ci NOT NULL DEFAULT 'activa',
  `creado_suscripcion` timestamp NULL DEFAULT NULL,
  `actualizado_suscripcion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_suscripcion`),
  KEY `tbl_suscripcion_id_usuario_fk_foreign` (`id_usuario_fk`),
  CONSTRAINT `tbl_suscripcion_id_usuario_fk_foreign` FOREIGN KEY (`id_usuario_fk`) REFERENCES `tbl_usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_suscripcion`
--

LOCK TABLES `tbl_suscripcion` WRITE;
/*!40000 ALTER TABLE `tbl_suscripcion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_suscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_usuario`
--

DROP TABLE IF EXISTS `tbl_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_usuario` (
  `id_usuario` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre_usuario` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  `email_usuario` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `contrasena_usuario` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `telefono_usuario` varchar(20) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `avatar_usuario` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `activo_usuario` tinyint(1) NOT NULL DEFAULT '1',
  `verificado_usuario` timestamp NULL DEFAULT NULL,
  `token_usuario` varchar(100) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `creado_usuario` timestamp NULL DEFAULT NULL,
  `actualizado_usuario` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `tbl_usuario_email_usuario_unique` (`email_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_usuario`
--

LOCK TABLES `tbl_usuario` WRITE;
/*!40000 ALTER TABLE `tbl_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'spotstay'
--

--
-- Dumping routines for database 'spotstay'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-20 18:28:32
